InformacionComercialWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://infocomercial.cifin.asobancaria.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://infocomercial.cifin.asobancaria.com" xmlns:intf="http://infocomercial.cifin.asobancaria.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://dto.infocomercial.cifin.asobancaria.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--Web Service 
-->
 <wsdl:types>
  <schema targetNamespace="http://dto.infocomercial.cifin.asobancaria.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="soapenc.xsd"/>
   <complexType name="ParametrosConsultaDTO">
    <sequence>
     <element name="codigoInformacion" nillable="true" type="soapenc:string"/>
     <element name="motivoConsulta" nillable="true" type="soapenc:string"/>
     <element name="numeroIdentificacion" nillable="true" type="soapenc:string"/>
     <element name="primerApellido" nillable="true" type="soapenc:string"/>
     <element name="tipoIdentificacion" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultaXmlResponse">

      <wsdl:part name="consultaXmlReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="cambioPasswordRequest">

      <wsdl:part name="nuevoPassword" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="consultaXmlConApellidoRequest">

      <wsdl:part name="parametrosConsulta" type="tns1:ParametrosConsultaDTO"/>

   </wsdl:message>

   <wsdl:message name="consultaPlanoRequest">

      <wsdl:part name="parametrosConsulta" type="tns1:ParametrosConsultaDTO"/>

   </wsdl:message>

   <wsdl:message name="consultaXmlConApellidoResponse">

      <wsdl:part name="consultaXmlConApellidoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="cambioPasswordResponse">

      <wsdl:part name="cambioPasswordReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="consultaPlanoResponse">

      <wsdl:part name="consultaPlanoReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="consultaXmlRequest">

      <wsdl:part name="parametrosConsulta" type="tns1:ParametrosConsultaDTO"/>

   </wsdl:message>

   <wsdl:portType name="InformacionComercialWS">

      <wsdl:operation name="consultaPlano" parameterOrder="parametrosConsulta">

         <wsdl:input message="impl:consultaPlanoRequest" name="consultaPlanoRequest"/>

         <wsdl:output message="impl:consultaPlanoResponse" name="consultaPlanoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="consultaXml" parameterOrder="parametrosConsulta">

         <wsdl:input message="impl:consultaXmlRequest" name="consultaXmlRequest"/>

         <wsdl:output message="impl:consultaXmlResponse" name="consultaXmlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="cambioPassword" parameterOrder="nuevoPassword">

         <wsdl:input message="impl:cambioPasswordRequest" name="cambioPasswordRequest"/>

         <wsdl:output message="impl:cambioPasswordResponse" name="cambioPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="consultaXmlConApellido" parameterOrder="parametrosConsulta">

         <wsdl:input message="impl:consultaXmlConApellidoRequest" name="consultaXmlConApellidoRequest"/>

         <wsdl:output message="impl:consultaXmlConApellidoResponse" name="consultaXmlConApellidoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InformacionComercialSoapBinding" type="impl:InformacionComercialWS">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultaPlano">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaPlanoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="consultaPlanoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaXml">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaXmlRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaXmlResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cambioPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cambioPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="cambioPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaXmlConApellido">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaXmlConApellidoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="consultaXmlConApellidoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://infocomercial.cifin.asobancaria.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InformacionComercialWSService">

      <wsdl:port binding="impl:InformacionComercialSoapBinding" name="InformacionComercial">

         <wsdlsoap:address location="https://miportafoliouat.transunion.co/InformacionComercialWS/services/InformacionComercial"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>